/* ========== SIDEBAR ========== */
.sidebar {
    width: clamp(250px, 25vw, 300px);
    flex-shrink: 0;
    order: 2;
    border-radius: 12px;
    padding: clamp(16px, 2vw, 20px);
    margin-bottom: clamp(16px, 2vw, 20px);
}

/* Optional: Add spacing between the number and the text */
h1:before, h2:before, h3:before, h4:before {
  font-weight: bold;
}


/* ========== SIDEBAR TITLE ========== */
.sidebar-title {
    gap: 15px;
    display: flex;
    align-items: center;
    font-size: clamp(14px, 15vw, 1.15rem);
    padding-bottom: 5px;
    margin-bottom: clamp(12px, 1.5vw, 2.5rem);
    border-bottom: 1px solid #2D3444;
    color: #F8F8FF;
    font-weight: 600;
    position: relative;
}

.sidebar-title span{
    padding-right: 20px;
}

.sidebar-title::after {
    content: '';
    position: absolute;
    left: 37px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #2D3444;
}

.sidebar-title svg {
    width: 1.85;
    height: 1.85rem;
    color: #ff4500;
}
